@font-face {
  font-family: "TT Ripple";
  src: url("./fonts/TT_Ripple_Light.woff") format("woff"),
    url("./fonts/TT_Ripple_Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "TT Ripple";
  src: url("./fonts/TT_Ripple_Regular.woff") format("woff"),
    url("./fonts/TT_Ripple_Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "TT Ripple";
  src: url("./fonts/TT_Ripple_Bold.woff") format("woff"),
    url("./fonts/TT_Ripple_Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Space Mono";
  src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
  font-weight: 400;
}


:root {
  --text-color: #141a1f;
  --color-primary-500: #003d99;
  --navbar-logo-height: 20px;
  --navbar-height: 75px;
  --navbar-background-color: #ffffff;
  --navbar-text-color: var(--text-color);
  --navbar-item-hover-background-color: #f2f2f2;
  --navbar-item-active-background-color: #f2f2f2;
  --font-family-base: "TT Ripple", sans-serif;
  --heading-font-family: "TT Ripple", sans-serif;

  --h3-line-height: 24px;

  --border-color: #E5E7E8;

  --sidebar-item-active-color: #005bcc;
  --heading-text-color: var(--color-primary-500);
  --h3-color: black;

  --footer-background-color: #fff;
  --footer-text-color: var(--text-color);
  --footer-title-font-size: 16px;
  --footer-title-font-weight: var(--font-weight-bold);
}

:root.dark {
  --text-color: #f0f0f0;
  --sidebar-item-active-color: var(--color-primary-500);

  --navbar-item-hover-background-color: var(--color-secondary-900);
  --navbar-item-active-background-color: var(--color-secondary-900);

  --h3-color: white;
}

nav {
  border-bottom: 1px solid var(--border-color);
}

html.dark nav a > img {
  filter: invert(1);
}