:root {
  --navbar-logo-height: 3.5rem;
  --color-primary-500: #fc0;
  --color-primary-600: #fb0;
  --color-primary-700: #fa0;
  --color-primary-700: #fa0;
  --color-primary-900: #c60;
  --navbar-background-color: #ffffff;
  --navbar-item-hover-background-color: #f2f2f2;
  --navbar-item-active-background-color: #f2f2f2;
  --text-color: #231f20;
  --h3-color: var(--text-color);
  --navbar-text-color: var(--text-color);
  --link-text-color: #1175b5;
  --panel-try-it-action-button-hover-background-color: var(--color-primary-600);
  --panel-try-it-action-button-hover-border-color: var(--color-primary-600);
  --panel-try-it-action-button-active-background-color: var(--color-primary-700);
  --panel-try-it-action-button-active-border-color: var(--color-primary-700);
  --panel-try-it-action-button-text-color: var(--color-emphasis-900);

  --footer-background-color: #f2f2f2;
  --footer-text-color: var(--text-color);
  --footer-title-font-size: 16px;
  --footer-title-font-weight: var(--font-weight-bold);
}

:root label {
  --checkbox-checked-backround-color: var(--color-primary-900) !important;
}

:root .button-color-primary {
  --button-color: var(--color-emphasis-900);
}

.tag-production {
  background-color: green;
  color: white;
}

:root.dark {
  --text-color: #f0f0f0;

  --navbar-item-hover-background-color: var(--color-secondary-900);
  --navbar-item-active-background-color: var(--color-secondary-900);

  --panel-try-it-action-button-background-color: var(--color-primary-500);
  --panel-try-it-action-button-hover-background-color: var(--color-primary-600);
  --panel-try-it-action-button-hover-border-color: var(--color-primary-600);
  --panel-try-it-action-button-active-background-color: var(--color-primary-700);
  --panel-try-it-action-button-active-border-color: var(--color-primary-700);
  --panel-try-it-action-button-text-color: var(--color-emphasis-900);
  --panel-try-it-action-button-hover-text-color: var(--color-emphasis-900);
  --checkbox-checked-backround-color: var(--color-primary-700);

  --color-primary-400: #fd0;
  --color-primary-500: #fc0;
  --color-primary-600: #fb0;
  --color-primary-700: #fa0;
}

html.dark .jumbotron {
  --text-color: #231f20;
  --navbar-text-color: var(--text-color);
  color: var(--text-color);
}

html.dark nav a > img {
  filter: invert(1);
}

.tag-deprecated {
  background-color: #f3c583;
}

.tag-draft {
  background-color: silver;
}

.tag-beta {
  background-color: lightblue;
}

[data-component-name="Navbar/MobileNavbarMenu"] > ul {
  border-right: 1px solid var(--border-color);
}